@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Akshar", "Roboto", "Gill Sans", Arial;
}

body {
  background-color: rgba(var(--default-color-extra-light));
}

#params-container {
  background-color: rgba(var(--main-bg));
  border-bottom: 1px solid rgba(var(--dark-shade));
  /* box-shadow: 1px 0px 3px rgba(var(--dark-shade)); */
}

#params-container label {
  font-weight: bold;
}

#app-title {
  color:rgba(var(--dark-shade-thin));
}

#params-title {
  min-width: 80%;
}

#close-menu-btn {
  color: rgba(var(--main-bg));
  transition: transform var(--swift-transform);
}

#sliding-menu.closed {
  transform: translateX(-50vw);
}

#sliding-menu.hidden * {
  opacity: 0;
}

#sliding-menu.hidden .btn {
  transition: visibility 0s, opacity 0s;
}

#sliding-menu,
#sheet-list,
#nav-btns-group,
#nav-btns-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sliding-menu {
  position: fixed;
  justify-content: flex-start;
  top: 0;
  left: 0;
  min-width: 50vw;
  min-height: 100vh;
  height: 100vh;
  z-index: 1;
  background-color: rgba(var(--default-color-extra-light), 0.8);
  transition: transform var(--intermediate-transform) ease-in-out;
  border-right: 1px solid rgba(var(--dark-shade));
}

#nav-btns-group {
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#sheet-list {
  width: 90%;
  height: 50%;
  margin-bottom: 1rem;
  margin-top: auto;
  justify-content: flex-start;
  overflow-x: hidden;
  border-radius: 15px;
  border: 1px solid rgba(var(--dark-shade));
  background-color: rgba(var(--light-color), 0.8);
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--dark-shade-thin)) transparent;
}

#sheet-list::-webkit-scrollbar-track {
  margin-bottom: 10px;
}

#sheet-list::-webkit-scrollbar-track-piece {
  margin-top: 10px;
}

#sheet-list::-webkit-scrollbar-track {
  border-radius: 50px;
}

#sheet-list::-webkit-scrollbar {
  width: 2px;
}

#sheet-list::-webkit-scrollbar-thumb {
  border-radius: 15px;
  width: 5px;
  background-color: rgba(var(--dark-shade));
}

#nav-btns-group .btn,
.sheet-btn {
  width: 80%;
  max-width: 80%;
}

.sheet-btn.current {
  background-color: rgba(var(--default-color-light));
}

.popup {
  background-color: rgba(var(--warning-color));
  border: 3px solid rgba(var(--warning-color-light));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  padding: 1rem;
  /* border: none; */
  border-radius: 5px;
  z-index: 2;
}

.popup.closed {
  transform: translate(1000%, 1000%);
}

.popup p {
  text-align: center;
}

.popup * {
  color: rgba(var(--light-color));
}

.popup-close-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.popup-btn-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.popup-btn {
  background-color: rgba(var(--light-color));
  color: rgba(var(--dark-text));
  width: 25%;
  max-width:  25%;
}


/*Non-sticky hover states*/
@media (hover: hover) {
  .popup-btn:hover  {
    color: rgba(var(--dark-text), 0.5);
  }

  .data-col-btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}


input,
select {
  background-color: rgba(var(--main-bg));
  box-sizing: border-box;
  height: 1.5rem;
}

.input-h3 {
  font-size: 1.17rem;
}

.input-stripped {
  outline: none;
}

.input-underline {
  border: none;
  box-shadow: 0px 1px 3px rgba(var(--dark-shade-thin));
}

.input-rounded {
  border: 3px solid rgba(var(--default-color-light));
  border-radius: 5px;
  /* border: none;
  box-shadow: 0px 0px 3px rgba(var(--dark-shade)); */
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled,
.btn:disabled,
label.disabled {
  color: rgba(var(--dark-shade));
}

input:disabled,
.btn:disabled {
  background: rgba(var(--disabled-color));
}

input:disabled {
  border-color: rgba(var(--dark-shade-thin));
}

#sheet-container {
  padding: 0 1rem 0 1rem;
  
}

.data-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  padding: 1rem;
  max-width: 50%;
}

.data-col.newest {
  animation: var(--swift-transform) ease-in fadein;
}

.data-col input,
.data-col textarea {
  /* border-width: 1px;
  border-radius: 5px;
  border-color: rgba(var(--dark-shade)); */
}

.data-col-bar {
  display: flex;
  justify-content: start;
  width: 100%;
}

.data-col-bar.title-bar {
  justify-content: space-between;
}

.data-col-interval-text > * {
  font-size: inherit;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.data-col-btn.add {
  color: rgba(var(--succes-color));
}

.data-col-btn.delete {
  color: rgba(var(--warning-color));
}

.data-col-comments,
.data-col-result {
  resize: none;
  outline: none;
}

#chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: 1rem;
  border-left: 1px solid rgba(var(--dark-shade));
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--light-shade-thick));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--intermediate-transform);
}

#chart-controls {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#chart-canvas {
  background-color: #fff;
  display: inline-block;
  border: 1px solid rgba(var(--dark-shade));
  width: 90vw;
  overflow-x: scroll;
  height: 300px;
}

#chart-container.closed {
  transform: translate(50%, -50%);
}

@media screen and (min-width: 568px) {
  #params-title,
  #input-container {
    min-width: 50%;
    max-width: 50%;
  }

  #sliding-menu {
    min-width: 30vw;
  }

  #sliding-menu.closed {
    transform: translateX(-30vw);
  }

  #nav-btns-group .btn {
    width: 70%;
    max-width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .data-col {
    max-width: 25%;
  }

  #sliding-menu {
    min-width: 20vw;
  }

  #sliding-menu.closed {
    transform: translateX(-20vw);
  }
}

@media screen and (min-width: 1200px) {
  #nav-btns-group .btn {
    width: 50%;
    max-width: 50%;
  }

  .sheet-btn {
    width: 70%;
    max-width: 70%;
  }
}
