/* Styles labelled "FW?" might be suited incorporation into the framework sheet. incrop*/
#params-title {
  min-width: 80%;
}

#sliding-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 125, 125);
  transition: transform var(--intermediate-transform);
}

#menu-close-btn {
  transition: transform var(--swift-transform);
}

#sliding-menu.closed {
  transform: translateX(-50vw);
}

#menu-close-btn:hover {
  transform: rotateZ(-90deg);
}

.input-h3 {
  /* FW? */
  font-size: 1.17rem;
}

.input-underline {
  /* FW? */
  outline: none;
  border-width: 0px 0px 1px 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled,
.disabled:not(.btn) {
  background: var(--main-bg);
  color: var(--dark-shade);
}

/* .btn.disabled {
  background: var(--dark-shade);
  opacity: 0.1;
} */

@media screen and (min-width: 568px) {
  #params-title,
  #input-container {
    min-width: 50%;
    max-width: 50%;
  }

  #sliding-menu {
    min-width: 30vw;
  }
}

@media screen and (min-width: 768px) {
  #sliding-menu {
    min-width: 20vw;
  }
}
